/** FONT-FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** TAILWIND CSS & DAISY UI */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0f172a;
  --color-primary-content: #0b5fff;

  --color-secondary: #6b7280;
  /* --color-secondary-content: #; */

  --color-accent: #f59e0b;
  --color-accent-content: #06b6d4;
}

/** COMMON STYLING */
/* heading - poppins */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  @apply text-primary;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #f8fafc;
  @apply text-secondary;
}

/** NAVLINK STYLING */

/** NAVLINK STYLING */
.sectionPadding {
  @apply py-8 md:py-12 lg:py-16 xl:py-20;
}
.navlink {
  @apply p-0 font-semibold text-primary hover:text-accent hover:bg-transparent!;
}
.active {
  @apply text-accent!;
}

/** MAKE BOTTOM TOOLTIP APPEAR LOWER */
.tooltip.tooltip-bottom:before {
  margin-top: 12px !important;
}

/** MOVE TOOLTIP ARROW ALSO */
.tooltip.tooltip-bottom:after {
  margin-top: 12px !important; 
}

/** FORM INPUT */
input {
  @apply py-5 border-secondary focus:outline-accent focus:border-accent;
}